@import "tailwindcss";

:root{
  --sidebar-bg: #d9dddc;
  --sidebar-icon-bg: #e6e9e8;
  --sidebar-active: #cfd4d2;
}
@media print {

  #invoice {
    width: 210mm;
  }

.print-footer {
  display: none;
}

@media print {
  .print-footer {
    display: block;
    position: fixed;
    bottom: 10mm;
    left: 20mm;
    right: 20mm;
  }
}
}

body {
 
  font-family: Arial, Helvetica, sans-serif;
}
